{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">COVID19 app</h1>
  <p class="lead">A COVID19 Tracker and Voice Assistant built with Django.</p>
  <p class="lead">
  {% for data in object_list %}
  	<h2>World Data</h2>
    <hr>
    <h3>Total Cases: {{data.total_cases}}</h3>
    <br>
    <h3>Total Deaths: {{data.total_deaths}}</h3>
    <br>
    <h3>Total Recovered: {{data.total_recovered}}</h3>
    <hr>
  {% endfor %}
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'track' %}"
    role="button">View All Data</a>
  </p>
</div>
{% endblock content %}