{% extends 'base.html' %}

{% block content %}
<div>

  <h2 class="awesome">{{ object.name }}</h2>
  <hr>
  <br>
  <h3 style="color: blue" class="hd1">Total Cases: {{object.cases}}</h3>
  <br>
  <h3 style="color: red" class="hd1">Total Deaths: {{object.deaths}}</h3>
  <br>
  <h3 style="color: green" class="hd1">Total Recovered: {{object.recovered}}</h3>
  <br>
  <h3 style="color: purple" class="hd1">Total Tests: {{object.tests}}</h3>
  <br>
  <hr>

  <h4 class="hd1">Back to <a href="{% url 'track' %}"><i class="fa fa-home"></i></a></h4>
</div>
{% endblock content %}